.clear{
	clear: both;
}
.order-print-wrap{
	font-size: 1rem;
	.header{
		.order-print-logo{
			float: left;
			font-size: 1.5rem;
		}
		.orderid{
			float: right;
			margin-right: 8rem;
		}
		.header-text{
			text-align: center;
			position: relative;
			padding: 0.4rem 0;
			border-bottom: 1px solid #000;
			width: 60%;
			margin: 0 auto;
			/*&:after{
				content:'';
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				bottom: 0;
				height: 1px;
				width: 70%;
				margin: 0 auto;
				background:-webkit-gradient(
					linear ,0 50%,100% 50%,
                    color-stop(0,rgb(255,255,255)),
                    color-stop(0.5,rgba(0,0,0,0.8)),
                    color-stop(1,rgb(255,255,255))
                );
			}*/
		}
	}
	.content{
		tr{
			height: 2.4rem;
		}
		.order-print-type-item{
			display: inline-block;
			min-width: 14rem;
			margin: 0.5rem 0.5rem 0.5rem 0;
		}
		.info-item{
			position: relative;
			padding: 1rem 0;
			border-bottom: 1px solid #000;
			.order-print-title{
				font-size: 1.5rem;
			}
			/*&:after{
				content:'';
				position: absolute;
				bottom: 0;
				left: 0;
				height: 1px;
				width: 100%;
				background-color: #000;
				background:-webkit-gradient(
					linear ,0 50%,100% 50%,
                    color-stop(0,rgb(255,255,255)),
                    color-stop(0.5,rgb(0,0,0)),
                    color-stop(1,rgb(255,255,255))
                );
			}*/
		}
		input[type="checkbox"]{
			vertical-align: middle;
			width: 1rem;
			height: 1rem;
		}
		.order-print-vm{
			vertical-align: middle;
		}
		.border-item{
			display: inline-block;
			min-width: 6rem;
			border-bottom: 1px solid #000;
			text-align: center;
		}
		.color-item{
			margin-right: 2rem;
		}
		.print-title2{
			margin: 1rem 0;
		}
		.customer-write{
			float: right;
			margin: 2rem 0;
		}
		.content-footer{
			margin: 1.5rem 0 0 0;
		}
		.order-print-ls1{
			letter-spacing: 0.34rem;
		}
		.order-print-ls2{
			letter-spacing: 0.97rem;
		}
	}
	table{
		width: 100%;
	}
}