                    
@font-face {
  font-family: 'iconfont';
  src: url('//at.alicdn.com/t/font_1477560601_2559795.eot'); /* IE9*/
  src: url('//at.alicdn.com/t/font_1477560601_2559795.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/font_1477560601_2559795.woff') format('woff'), /* chrome、firefox */
  url('//at.alicdn.com/t/font_1477560601_2559795.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/font_1477560601_2559795.svg#iconfont') format('svg'); /* iOS 4.1- */
}
                    
.iconfont {
	font-family: "iconfont" !important;
	/*font-size: 16px;*/
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	/*-webkit-text-stroke-width: 0.2px;*/
	-moz-osx-font-smoothing: grayscale;
}
ul{
	padding: 0;
}
li {
  list-style-type: none;
}

.m0{
	margin: 0;
}
.w100{
  width: 100%;
}
.my-content-block{
  margin: .35rem 0;
  padding: 0 .15rem;
}
.p0{
	padding: 0;
}
.clear{
	clear: both;
}
.content-img-100{
	img{
		width: 100%;
	}
}
a{
	color:#000;
}
img{
	display: block;
}
*{
  font-size: .7rem;
}

.f7{
  font-size: 0.7rem !important;
}
.f6{
  font-size: 0.6rem !important;
}

.d-index-list{
  border-bottom: 1px solid #ececec;
  padding: 0.2rem 0 0 0.5rem;
}

/*$total-color:#0894ec;*/
$total-color:#f0870c;

.total-color{
  color: $total-color !important;
}
.border-bottom1{
	border-bottom: 1px solid #ececec;
}
.color-grey1{
  color: #858585;
}
.bc-w{
  background-color: $total-color;
  color: #fff;
}
  
/* mask */
.mask-wrap{
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 20;
	.mask-bg{
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: rgba(0,0,0,0.5);
	}
	.mask-content{
		width: 90%;
		position: absolute;
		z-index: 1;
		left: 0;
		right: 0;
		margin: 0 auto;
		top: 50%;
		transform: translateY(-50%);
	}
}
/* mask */

/* distribution index */
#distribution_index_wrap{
  .distribution-header{
    background-color: #fff;
    text-align: center;
    .headimgurl{
      display: block;
      width: 25%;
      margin: 0 auto;
      padding-top: 0.3rem;
      img{
        width: 100%;
        border-radius: 50%;
      }
    }
    .username{
      display: block;
      font-size: 0.7rem;
      padding: 0.5rem 0;
    }
  }

}
/* distribution index */


/**login**/
#login{
  .content{
    width:100%;
    height: 100%;
    position: relative;
    background-color: #fff;
    overflow: hidden;
      .top{
        margin:30px 0px;
        .tx{
          width:258px;
          margin:0 auto;
          background-color: #fff;
            border-radius: 50%;
            padding-top: 5px;
            img{
              width: 90%;
                margin: 0 auto;
                display: block;
                border-radius: 100px;
            }
        }
      }
      .user-loginBtn,.user-registerBtn{
        width: 90%;

      }
      .user-loginBtn{
        background-color: $total-color;
        line-height: 1.8rem;
        font-size: 0.8rem;
      }
      .user-registerBtn{
        margin-top: 0.7rem;
        background-color: rgba(255,255,255,0);
        color: $total-color;
        border: 1px solid $total-color;
        padding: 1px;
      }
      .user-forgetPasswordBtn{
        display: block;
        margin-top: 0.7rem;
        text-align: center;
        color: $total-color;
      }
  }
}
/**login**/

.wg_form_message_wrap{
	width: 90%;
	margin: 0 auto;
}

.bgc_blue1{
	background-color: $total-color !important;
}

/* common type1 */
.wg_button_type1{
	border-radius:4px;
	line-height:30px;
	color:#6b6c6c;
	letter-spacing:1px;
	word-spacing:1px;
	border: none;
	color: #fff;
	display: block;
	margin: 0 auto;
	text-align: center;
	width: 5.28rem;
}
.footer-btn{
	width: 35%;
	font-size: 14px;
	height: 1.4rem;
	line-height: 1.4rem;
	margin-top: 0.6rem;
	background-color: $total-color;
}
/* common type1 */

/* input type1 */
.wg_item_icon_input{
	height:40px;
	border-radius:5px;
	margin: 0 auto 15px;
	border: 1px solid #b5b5b5;
	background-color: #fff;
	.name{
		width:78%;
		height:38px;
		color:#b5b5b5;
		font-size:16px;
		float:left;
		margin-top:1px;
		-webkit-tap-highlight-color: rgba(0,0,0,0);
		outline: none;
		border: none;
		background-color: rgba(255,255,255,0);
	}
	.icon1{
	  font-size: 22px;
	  color:#b5b5b5;
	  line-height: 38px;
	  padding-left:10px;
	  padding-right:10px;
	  float:left;
	}
}
.wg_item_icon_input_active{
	.wg_item_icon_input{
		border: 1px solid $total-color;
	}
	.icon1{
		color: $total-color;
	}
}
/* input type1 */

/* register find-password */
.regist-findpwd{
  .content{
    padding-top: 40px;
    background-color: #efeff4;
    .Code-input{
      float: left; width: 70%;
    }
    .imgCode{
      width: 28%;margin: 0 0 0 2%;float: right; height:40px;
    }
    .smsCode{
      float: right; width: 28%; font-size: 12px; font-weight: 700;
      background-color: $total-color;
      height: 2rem;
      line-height: 2rem;
    }
    .finish-btn{
      background-color: $total-color;
      width: 90%;
      height: 1.8rem;
      line-height: 1.8rem;
    }
  }
}
/* register find-password */

/* feedback */
#feedBack{
  .feedBack-sendCon{
    border: none;
    width: 100%;
    height: 7rem;
    margin-bottom: 0.5rem;
    padding: 0.8rem;
  }
  .feedBack-sendBtn{
    background-color: $total-color;
    width: 90%;
    height: 1.6rem;
    line-height: 1.6rem;
  }
}
/* feedback */



/* extends */
@import 'extend';
/* extends */

#cat_products_wrap .active .icon-form-checkbox{
	border: none;
	background-color: $total-color;
	&:after{
		content:'\e614';
		color: #fff;
		margin-top: -.35rem;
	}
}


/* WRITE BY CHENJUNFEI */
@import 'cjf';
/* WRITE BY CHENJUNFEI */
#select_products_info_wrap{
	.meal-choose{
		img{
			width: 100%;
		}
		.close-mask{
			border-radius: 50%;
			width: 9vw;
			height: 9vw;
			line-height: 9vw;
			margin: 1rem auto 0;
			font-size: 1.5rem;
			color: #fff;
			text-align: center;
			&:after{
				content:'\e615';
			}
		}
	}

	.total-price{
		color: $total-color;
	}

	.list-block {
	    margin: 0;
	}
	
	.list-block .item-link .item-inner {
	    background-image: none;
	    padding: 0;
	}
	
	.list-block.media-list .item-title {
	    line-height: 1.5rem;
      cursor: pointer;
	}
	
	.item-after span {
	    color: #000;
	}
	
	.list-block .item-after {
	    color: $total-color;
	    line-height: 1.8rem;
      padding-right: .3rem;
	}

	.list-block .item-after .item-after-money{
	    color: $total-color;
	}
	
	.list-block.media-list .item-title-row {
	    padding: 1px .3rem;
	    background-color: #fff;
	}
	.extent-flex-start{
	    -webkit-justify-content: flex-start !important;
	    justify-content: flex-start !important;
	}
	.extend-mr7{
	    margin-right: 7px;
	}
	.list-block.media-list .item-inner,
	.list-block .item-inner {
	    padding-right: 0;
	    padding-top: 0;
	}
	.bb_1_s{
	    border-bottom: 1px solid #e7e7e7;
	}
	.bb_1_s_pb_5{
	    border-bottom: 1px solid #e7e7e7 !important;
	    padding-bottom: 5px !important;
	}
	.lh25{
	    line-height: 25px !important;
	}
	.choose-active{
	    background-color: $total-color;
	    border: none !important;
	    padding: 2px 6px !important;
	    color: #fff;
	}
}
#my-orders{
	.content-block{
	    margin: 0;
	    padding: 0;
	}
	.item-inner1{
		text-align: right;
	}
	p {
	    margin: 0.3em 0;
	}
	.content1 {
	    position: absolute;
	    top: 40px;
	    right: 0;
	    bottom: 0;
	    left: 0;
	    overflow: auto;
	    -webkit-overflow-scrolling: touch;
	}
	.list-block {
	    margin: 10px 0;
	}
	.list-block .item-media+.item-inner {
	    margin-left: 0rem;
	}
	.list-block .item-after2 {
	    padding: 5px 10px;
	    border-radius: 5px;
	    margin: 6px 0.75rem 6px 0;
	    text-align:center;
	    display: inline-block;
	}
	.item-after1{
		float: none;
    	margin: 5px 0.75rem 5px 0;
	}
}
